.wrap{
  height: 100%;
  display: flex;
  .menu{
    .backHome{
      padding: 30px 18px 5px;
      text-align: center;
      display: block;
      font-size: 15px;
      padding: 9px 0;
      color: #ec7259;
      border: 1px solid rgba(236,114,89,.8);
      border-radius: 20px;
      -webkit-transition: border-color .2s ease-in;
      -o-transition: border-color .2s ease-in;
      transition: border-color .2s ease-in;
    }
    position: relative;
    height: 100%;
    overflow-y: auto;
    background-color: #404040;
    color: #f2f2f2;
    z-index: 100;
    width: 16.66666667%;
  }
  .articleList{
    width: 30%;
  }
  .content{
    flex-grow: 1;
  }
}
